i.checkmark {
  background-color: transparent;
  background-size: contain;
  width: 1.7rem;
  height: 1.3rem;
  display: inline-block;
  background-repeat: no-repeat;

  &-yellow {
    background-image: url("#{$theme_url}/src/images/icon-checkmark-yellow@2x.png");
  }

  &-ember {
    background-image: url("#{$theme_url}/src/images/icon-checkmark-ember@2x.png");
  }

  &-red {
    background-image: url("#{$theme_url}/src/images/icon-checkmark-red@2x.png");
  }
}
