.intro-section {
  padding-top: 16.6rem;
  padding-bottom: 16.6rem;

  &__headline {
    max-width: 459px;
  }

  &__copy {
    max-width: 47.3rem;
    p {
      margin-bottom: 5rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
