.subscribe {
  background-color: $main-color;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 5rem;

  @media (min-width: 768px) {
    min-height: 40.8rem;
    padding-top: 8.4rem;
    padding-bottom: 5rem;
  }

  &__headline {
    margin-bottom: 22px;
  }

  &__subline {
    @extend %font-medium;
    font-size: 2rem;
    color: $black;
    text-align: center;
    line-height: 3.6rem;
  }

  &__form {
    display: flex;
    margin: 5rem auto 2rem;

    @media (min-width: 768px) {
      max-width: 74.6rem;
    }

    &-input {
      -ms-transform: skewX(-10deg);
      -webkit-transform: skewX(-10deg);
      transform: skewX(-10deg);
      border: 0;
      height: 6rem;
      background-color: $white;
      width: 25rem;
      outline: none;

      @media (min-width: 768px) {
        width: 45rem;
      }

      input {
        @extend %font-regular;
        font-size: 2rem;
        color: $black;
        background-color: transparent;
        -ms-transform: skewX(10deg);
        -webkit-transform: skewX(10deg);
        transform: skewX(10deg);
        padding: 0.3rem 2rem 0.6rem;

        @media (min-width: 768px) {
          padding: 0.3rem 3.4rem 0.6rem;
        }

        @include placeholder {
          @extend %font-regular;
          font-size: 2rem;
          color: $black;
        }
      }
    }

    &-submit {
      width: calc(100% - 27rem);
      margin-left: 1rem;

      @media (min-width: 768px) {
        margin-left: 1.6rem;
        width: 100%;
      }

      button {
        color: $black;
        width: 100%;
        &:before {
          border-color: $white;
        }
      }
    }
  }

  &__bottom-copy {
    @extend %font-regular;
    font-size: 1.4rem;
    color: $black;
    text-align: center;
    line-height: 2.4rem;
    margin-bottom: 0;

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }
}
