html {
  font-size: 40%;

  @media (min-width: 375px) {
    font-size: 50%;
  }

  @media (min-width: 992px) {
    font-size: 62.5%;
  }

  &.menu-open {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

body {
  font-size: 1.6rem;
  font-family: $font-family-sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background: $white;
  overflow-x: hidden;
  @extend %font-regular;

  &.menu-open {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

a,
.btn-link {
  color: $black;
  &:hover {
    color: inherit;
  }
}

h1 {
  color: $black;
  font-size: 2.8em;
  letter-spacing: 0;
  line-height: 55px;
  @extend %font-bold;
}

h2 {
  @extend %font-bold-italic;
  color: $black;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0;
  letter-spacing: -0.295rem;

  @media (min-width: 768px) {
    font-size: 5.9rem;
    line-height: 6rem;
  }
}

p {
  @extend %font-regular;
  font-size: 2rem;
  color: $black;
  line-height: 3.6rem;
}
